<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome!</title>

    <style>
    .error{
        color: red;
    }
    .success{
        color: blue;
    }
    </style>

</head>
<body>
    <h1>Welcome!</h1>

        <Fieldset>
            <legend>Register</legend>
            <form action='/register' method='POST'>
                {% csrf_token %}
                <p>Name: <input type='text' name='name'></p>
                <p>Username: <input type='text' name='username'></p>
                <p>Password: <input type='password' name='password'></p>
                <p>Confirm: <input type='password' name='confirm'></p>
                <p>Date Hired: <input type='date' name='date'></p>
                <input type="submit" value='Register'>
            </form>
        </Fieldset>

        <Fieldset>
            <legend>Login</legend>
            <form action='/login' method='POST'>
                {% csrf_token %}
                <p>Username: <input type="text" name='username'></p>
                <p>Password: <input type="password" name='password'></p>
                <input type="submit" value='Login'>
            </form>
        </Fieldset>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
</body>
</html>